html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Arial;
}

.main {
	height: 100%;
	padding-bottom: 50px;
	box-sizing: border-box;
	background: #F7FFFE;
	color: #495655;
}

.header {
	height: 60px;
	text-align: left;
	line-height: 60px;
	background: #26A69A;
	color: #eee;
	font-size: 24px;
	box-shadow: 0px 1px 10px #000;
	padding-left: 20px;
}

.content {
	padding: 40px 20px;
}

.html-wrapper {
	transition: .5s linear;
	position: relative;
	left: 0;
	top: 0;
	transform: rotate(0) scale(1);
	box-shadow: 0px 2px 10px #555;
}

.html-code {
	color: #495655;
	font-family: "Lucida Console", monospace;
	font-size: 16px;
	width: 100%;
}

.html-code tr {
	background: #fff;
}

.html-code td {
	padding: 5px 10px;
	min-width: 15px;
}

.html-code td.line-num {
	color: #aaa;
}

.html-code .flag {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: none;
	box-sizing: border-box;
}

.code {
	width: 100%;
}

.html-code .needed .flag {
	border: 2px solid #26BF26;
	display: block;
}

.html-code .selected .flag {
	display: block;
	background: #FF5E5E;
}

.html-code .needed.selected .flag {
	background: #26BF26;
	border: none;
}

.input-wrapper {
	padding: 20px 0;
}

.selector {
	width: 100%	;
	height: 20px;
	outline: none;
	border: none;
	border-bottom: 1px solid #495655;
	background: none;
}

.yellow {
	color: #DBAC39;
}

.green {
	color: #6CA135;
}

.red {
	color: #FF4270;
}

.footer {
	height: 50px;
	position: relative;
	top: -50px;
	line-height: 50px;
	background: #D58C04;
	text-align: center;
	font-size: 12px;
}

.sm-container {
	width: 400px;
}

.sm-container:before, .sm-container:after {
	content: "";
	display: table;
}

.sm-container:after {
	clear: both;
}

.forbidden {
	float: left;
	width: 70%;
}

.forbidden.error {
	color: #FF4270;
}

.time {
	float: right;
	width: 30%;
}

.data {
	font-weight: bold;
}